<li class="user-list-item">
  <img src="<%= asset_path( 'Placeholder.svg.png' ) %>" alt="user">
  <div>
    <h2><%= @user.name %></h2>
    <p class="float-right">Number of posts: <span><%= @user.posts_counter %></span>
  </div>
</li>
